<div class="dialog text-center">
  {% for item in data %}
   <div class="card col-xs-10 col-xs-offset-2 col-md-offset-0">
    <img class="card-img img-responsive bubble-left" src="{{ url_for('static', filename='/images/bubble.png') }}">
    <div class="card-img-overlay">
     <p class="card-text">{{item[0][0]}} : {{item[0][1]}}</p>
    </div>
   </div>

   <div class="card col-xs-10 col-md-offset-2">
    <img class="card-img img-responsive bubble-right" src="{{ url_for('static', filename='/images/bubble.png') }}">
    <div class="card-img-overlay">
     <p class="card-text">{{item[1][0]}} : {{item[1][1]}}</p>
    </div>
   </div>
  {% endfor %}
 </div>
 {% if not judged %}
  <p class="col-xs-12">質問回数残り: {{max_count - ans_count}}</p>
 {% endif %}
 <form method="post" action="{{ url_for('main.post') }}" onSubmit="return {{ device }}Hide();">
 <div class="form-group">
  <div class="col-xs-12">

   {% if notice %}
    <p class="text-warning bg-warning small">{{ notice }}</p>
   {% endif %}
   <input type="text" id="{{ device }}InputComment" class="form-control" value="{{ input_text }}" width="80" maxlength="20">
  </div>
 
  <div class="col-xs-12">
   {% if not judged and ans_count < max_count %}
   <input type="submit" id="{{ device }}InputBtnQ" value="質問する" class="btn btn-default col-xs-3">
   {% endif %}
 
   {% if not judged %}
   <input type="submit" id="{{ device }}InputBtnA" value="回答する" class="btn btn-default col-xs-3">
   {% endif %}

   {% if judged %}
   <input type="submit" id="{{ device }}InputBtnC" value="答え合わせする" class="btn btn-default col-xs-6">
   {% endif %}
 
   <input type="submit" id="{{ device }}InputBtnR" value="リセット" class="btn btn-default col-xs-3 col-xs-offset-3">

   <input type="hidden" name="action" value="" id="{{ device }}HiddenAction">
   <input type="hidden" name="comment" value="" id="{{ device }}HiddenComment">
  </div>
 </div>
</form>

<script>
    function {{ device }}Hide() {

    const actionValue = event.submitter.value;
    document.getElementById("{{ device }}HiddenAction").value = actionValue;

    var commentValue = document.getElementById("{{ device }}InputComment").value;
    document.getElementById("{{ device }}HiddenComment").value = commentValue;


    if (document.getElementById("{{ device }}InputComment") !== null) {
      document.getElementById("{{ device }}InputComment").disabled = true;
    }
    if (document.getElementById("{{ device }}InputBtnQ") !== null) {
      document.getElementById("{{ device }}InputBtnQ").disabled = true;
    }
    if (document.getElementById("{{ device }}InputBtnA") !== null) {
      document.getElementById("{{ device }}InputBtnA").disabled = true;
    }
    if (document.getElementById("{{ device }}InputBtnC") !== null) {
      document.getElementById("{{ device }}InputBtnC").disabled = true;
    }
    if (document.getElementById("{{ device }}InputBtnR") !== null) {
      document.getElementById("{{ device }}InputBtnR").disabled = true;
    }

    return true;
}
</script>
