{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}

{% block content %}
<p>{{ message }}</p>

<form method="post" action="{{ url_for('login.post') }}">
 <div class="form-group">
  <table class="table">
   <tr>
    <th>名前</th>
    <td>
     <input type="text" name="name" class="form-control" value="{{ name }}" maxlength="7">
    </td>
   </tr>
   <tr>
    <th>パスワード</th>
    <td>
     <input type="password" name="pass" class="form-control">
    </td>
   </tr>
   <th></th>
   <td>
    <input type="submit" value="ログイン" class="btn btn-default">
   </td>
  </table>
 </div>
</form>

<a href="{{ url_for('ranking.show') }}">ランキングを見る</a>

{% endblock %}
