{% extends "layout.html" %}

{% block title %}
ログイン画面
{% endblock %}

{% block headline %}
ログイン画面
{% endblock %}

{% block content %}



<p>{{ message }}</p>

<form method="post" action="{{ url_for('login.post') }}">
 <div class="form-group">
  <table class="table">
   <tr>
    <th>名前</th>
    <td>
     <input type="text" name="name" class="form-control" value="{{ name }}" maxlength="7">
    </td>
   </tr>
   <th></th>
   <td>
    <input 
     type="submit" 
     value="ログイン" 
     class="btn btn-default col-xs-4 col-md-1"
     >
    <button 
     type="button" 
     class="btn btn-default col-xs-6 col-xs-offset-2 col-md-2 col-md-offset-1" 
     onclick="location.href={{ url_for('ranking.show') }}"
     >
     ランキングを見る
    </button>
   </td>
  </table>
 </div>
</form>


{% endblock %}
