{% extends "layout.html" %}

{% block title %}
メイン画面
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}

{% block content %}
<div class="logout"><a href="{{ url_for('login.logout') }}">Logout</a></div>
<p>{{ message }}</p>

<form method="post" action="{{ url_for('main.post') }}">
<div class="col-xs-12">
<input type="text" name="comment" value="男性キャラクター？" width="80">
</div>

<div class="col-xs-12">
{% if not judged and ans_count < max_count %}
<input type="submit" name="action" value="質問する" class="btn">
{% endif %}

{% if not judged %}
<input type="submit" name="action" value="回答する" class="btn">
{% endif %}

<input type="submit" name="action" value="リセット" class="btn">
</div>

</form>


<!-- スマホ版のテキスト欄(画像の上に配置) -->
<div class="hidden-md hidden-lg">
 <div class="text-center">
  {% for item in data | reverse %}
   <p class="col-xs-12">{{item[2]}} / {{max_count}}</p>
   <div class="card col-xs-10">
    <img class="card-img img-responsive img-flip-horizontal" src="{{ url_for('static', filename='/images/bubble.png') }}">
    <div class="card-img-overlay">
     <p class="card-text">{{item[0][0]}} : {{item[0][1]}}</p>
    </div>
   </div>

   <div class="card col-xs-10 col-xs-offset-2">
    <img class="card-img img-responsive" src="{{ url_for('static', filename='/images/bubble.png') }}">
    <div class="card-img-overlay">
     <p class="card-text">{{item[1][0]}} : {{item[1][1]}}</p>
    </div>
   </div>
  {% endfor %}
 </div>
</div>

<div class="row">
<img src="{{ url_for('static', filename='/images/player.png') }}" class="col-xs-6 col-md-4">
<div class="hidden-xs hidden-sm col-md-4">
 <!-- PC版のテキスト欄(画像の間に配置) -->
 <div class="text-center">
  {% for item in data | reverse %}
   <p class="col-xs-12">{{item[2]}} / {{max_count}}</p>
   <div class="card col-xs-10">
    <img class="card-img img-responsive img-flip-horizontal" src="{{ url_for('static', filename='/images/bubble.png') }}">
    <div class="card-img-overlay">
     <p class="card-text">{{item[0][0]}} : {{item[0][1]}}</p>
    </div>
   </div>

   <div class="card col-xs-10 col-xs-offset-2">
    <img class="card-img img-responsive" src="{{ url_for('static', filename='/images/bubble.png') }}">
    <div class="card-img-overlay">
     <p class="card-text">{{item[1][0]}} : {{item[1][1]}}</p>
    </div>
   </div>
  {% endfor %}
 </div>
</div>
<img src="{{ url_for('static', filename='/images/chatgpt.png') }}" class="col-xs-6 col-md-4">
</div>

{% endblock %}
