{% extends "layout.html" %}

{% block title %}
メイン画面
{% endblock %}

{% block header %}
<script>
window.onpageshow = function(event) {
  var element = document.documentElement;
  var bottom = element.clientHeight;
  window.scroll(0, bottom);
};
</script>
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}

{% block content %}
<div class="logout"><a href="{{ url_for('login.logout') }}">Logout</a></div>
<p>{{ message }}</p>


<!-- スマホ版のテキスト欄(画像の上に配置) -->
<div class="hidden-md hidden-lg">
  {% include "dialog.html" %}
</div>

<div class="row">
  <img src="{{ url_for('static', filename='/images/player.png') }}" id="img-player" class="col-xs-6 col-md-4">
  <!-- PC版のテキスト欄(画像の間に配置) -->
  <div class="hidden-xs hidden-sm col-md-4 col-md-offset-4">
    {% include "dialog.html" %}
  </div>
  <img src="{{ url_for('static', filename='/images/chatgpt.png') }}" id="img-chatgpt" class="col-xs-6 col-md-4">
</div>

{% endblock %}
