{% extends "layout.html" %}

{% block title %}
Message
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}

{% block content %}
<div class="logout"><a href="{{ url_for('login.logout') }}">Logout</a></div>
<p>{{ message }}</p>

<form method="post" action="{{ url_for('main.post') }}">
<table>
    <tr>
        <th>Message</th>
        <td>
            <input type="text" name="comment" width="80">
        </td>
    </tr>
    <td>
        <input type="submit" name="action" value="質問する">
        <input type="submit" name="action" value="回答する">
        <input type="submit" name="action" value="リセット">
    </td>
</table>
</form>

<ul>
    {% for item in data | reverse %}
    <li>{{item[2]}}</li>
    <li>{{item[0][0]}} : {{item[0][1]}}</li>
    <li>{{item[1][0]}} : {{item[1][1]}}</li>
    {% endfor %}
</ul>
{% endblock %}
