body {
    margin: 10px;
    background-color: aliceblue;
}
h1 {
    color: lightsteelblue;
    font-size: 36pt; 
    margin: 0px;
}
p {
    font-size: 14pt; 
}

div.footer {
    text-align: right;
    border-bottom: 1px solid lightskyblue;
    color: lightskyblue;
    margin: 50px 0px;
}

div.logout {
    font-weight: bold;
    font-size: 12pt; 
}

pre {
    background-color: white;
    font-size: 12pt;
    padding: 10px;
}

.dialog {
    margin-top: 300px;
}

.bubble-left {
transform: scaleX(-1);
}

.bubble-right {
transform: scaleX(1);
}

/* 文字を中央に揃える */
.card-img-overlay{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
  font-weight: bold;
}



/* スマートフォン向けのフォントサイズ */
@media (max-width: 576px) {
  .card-text {
    font-size: 14px;
  }
  .card-img-overlay {
    padding: 40px;
  }
  #img-player {
    position: fixed;
    top: 45%; /* 画面の中央に配置 */
    transform: translateY(-50%); /* 上下中央揃え */
    left: 0; /* 左寄せ */
    z-index: -1; /* 背面に移動 */
  }
  #img-chatgpt {
    position: fixed;
    top: 65%; /* 画面の中央に配置 */
    transform: translateY(-50%); /* 上下中央揃え */
    right: 0; /* 右寄せ */
    z-index: -1; /* 背面に移動 */
  }
}

/* タブレット向けのフォントサイズ */
@media (min-width: 577px) and (max-width: 992px) {
  .card-text {
    font-size: 16px;
  }
  .card-img-overlay {
    padding: 60px;
  }
  #img-player {
    position: fixed;
    top: 50%; /* 画面の中央に配置 */
    transform: translateY(-50%); /* 上下中央揃え */
    left: 0; /* 左寄せ */
    z-index: -1; /* 背面に移動 */
  }
  #img-chatgpt {
    position: fixed;
    top: 50%; /* 画面の中央に配置 */
    transform: translateY(-50%); /* 上下中央揃え */
    right: 0; /* 右寄せ */
    z-index: -1; /* 背面に移動 */
  }
}

/* デスクトップ向けのフォントサイズ */
@media (min-width: 993px) {
  .card-text {
    font-size: 18px;
  }
  .card-img-overlay {
    padding: 100px;
  }
  #img-player {
    position: fixed;
    top: 50%; /* 画面の中央に配置 */
    transform: translateY(-50%); /* 上下中央揃え */
    left: 0; /* 左寄せ */
    z-index: -1; /* 背面に移動 */
  }
  #img-chatgpt {
    position: fixed;
    top: 50%; /* 画面の中央に配置 */
    transform: translateY(-50%); /* 上下中央揃え */
    right: 0; /* 右寄せ */
    z-index: -1; /* 背面に移動 */
  }
}
